body {
    background-color: rgb(232, 218, 205);
}
h1 {
    color: rgb(156, 153, 181);
    font-size:hsl(from color h s l);
    text-align: center;
}
h2 {
    color: rgb(193, 63, 152);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
li {
    list-style-position: inside;
    text-align: left;
    text-indent: 30%;
    color: rgb(215, 151, 162);
}
